h3 {
    margin-top: 100px;
    text-align: center;
    font-style: italic;
    font-size: 80%;
    font-family: Helvetica;
    color: #60949b;
}

@media (orientation: portrait)
{
    h3 {
        font-size: 65%;
    }
}